.ex-i__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.ex-i__text {
  max-height: 0vh;
  opacity: 0;
  transition: all 0.3s;
}
.ex-i__text__expanded {
  max-height: 100vh;
  opacity: 0.95;
}
.ex-i__icon {
  opacity: 1;
  cursor: pointer;
  color: var(--color-white);
}

.expanded__icon {
  opacity: 0.6;
}
