.hero__container {
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  padding: 3rem 0 3rem;
  border-bottom: var(--bdr-blue);
}

.hero__gif {
  transform: scale(0.56);
  box-shadow: 0 0 100px 0px var(--color-hlight-blue);
  opacity: 0.95;
  border-radius: 210px;
  transition: all 0.25s;
}
.hero__header {
  margin-top: 8rem;
  font-weight: 500;
  letter-spacing: 4px;
  color: var(--color-white);
  border: var(--bdr-blue);
  border-radius: 15px;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 20px 2px var(--color-hlight-blue);
  transition: all 0.6s;
}
.hero__text {
  font-size: 2rem;
  padding: 0 11rem;
}

.hero__btn__container {
  width: 100%;
  margin-top: 4rem;
}

.hero__text {
  border-top: var(--bdr-blue);
  border-radius: 5px;
  font-size: 3rem;
  padding: 3rem 8rem;
}
@media (min-width: 768px) {
  .hero__btn__container {
    margin-top: 4rem;
  }
}

@media (min-width: 1024px) {
  .hero__gif {
    transform: scale(0.7);
    box-shadow: 0 0 100px 0px var(--color-hlight-blue);
    opacity: 0.95;
  }
  .hero__header {
    margin-top: 8rem;
    font-weight: 500;
  }
}
